/* Base Styles -------------------- */

html {
	@include text(100%, 1.5, $color: $color-text-base);
}

body {
	margin: 0;
	font-family: $stack-montserrat;
	background: #312933;
}

img {
	max-width: 100%;
	//margin-bottom: 2rem;
	//border-radius: $br;
}

ul,
ol {
	margin: 1rem 0;
}

li {
	//margin-bottom: 2rem;
	list-style-type: none;
}

/* Navigation ------------------ */

.main-nav {
	background-color: $color-prim;
	border-top: .1rem solid $color-border-dark;
	border-bottom: .5rem solid rgba(0,0,0,0.15);

	ul.grid {
	    margin: 0;
	    padding: 0.5rem 0;

	    li {
	        margin-bottom: 0;
	        text-align: center;
	    }

	    li:first-child a {
	        color: $color-text-base;
	        font-weight: bold;
	   }
	}
}

/* Pseudo-classes ------------------ */

a {
	&:link {
	    color: $color-link-default;
	    text-decoration: none;
	}
	&:visited {
	    color: $color-link-visited;
	}
	&:hover {
	    color: $color-link-hover;
	}
}

/* Transitions ------------------ */

// General

button,
.project {
	transition: 0.15s ease-out;
}










