/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

body {
    @include text(1em, 1.5, $color: $color-text-base);
    margin: 0;
    font-family: $stack-helvetica;
    background: #312933;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: $br;
}

ul,
ol {
    margin: 30px 0;
}

li {
    margin-bottom: 10px;
}

.logo {
    -js-display: flex;
    display: flex;
}

/* Pseudo-classes ------------------ */

a {
    &:link {
        color: $color-link-default;
        text-decoration: none;
    }
    &:visited {
        color: $color-link-visited;
    }
    &:hover {
        color: rgba($color-link-default, .5);
    }
}