button {
	@include type-setting(0);
	font-weight: normal;
	color: $color-link-default;
	border: 0.2em solid $color-border-light;
	padding: ($base-line-height / 2 - 0.2);
	background: transparent;

	&:hover {
		color: $color-link-hover;
		border-color: $color-link-hover;
	}
}

// Selection Buttons

.work .selection-buttons {
		
	button:nth-of-type(1) {
		margin-right: 0.65rem;
	}
}

// Circles

.slider-circle {
	width: 0.75rem;
	height: 0.75rem;
	background: transparent;
	border-radius: 50%;
	border: 0.2rem solid $color-border-light;
	margin: 0 0.4rem 2.5rem;

	&.active {
		background-color: $color-link-hover;
		border-color: $color-link-hover;
	}
}