button {
	@include text(1rem, 1.1, normal, $color-link-default);
	border: 0.1em solid $color-border-light;
	padding: 0.6em 1.2em;
	background: transparent;
	margin: 0.7rem 0;

	&:hover {
		color: $color-link-hover;
		border-color: $color-link-hover;
	}
}

// Selection Buttons

.selection-buttons {
	margin-bottom: 0.7rem;
}

// Circles

.slider-circle {
	width: 0.75rem;
	height: 0.75rem;
	background: transparent;
	border-radius: 50%;
	border: 0.2rem solid $color-border-light;
	margin: 0 0.4rem 2.5rem;

	&.active {
		background-color: $color-link-hover;
		border-color: $color-link-hover;
	}
}