// ==========================================================================
// General Icon Styles
// ==========================================================================

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

.hero-container {
	height: 0; /* collapse the container's height */
    width: 100%; /* specify any width you want (a percentage value, basically) */
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: 58.7%;
    position: relative; /* create positioning context for svg */

    @include media('>extra-large') {
		//padding-top: 48.9%;
    }

	.hero {
		position: absolute;
    	top: 0;
    	left: 0;

    	@include media('>extra-large') {
			//top: -20%;
    	}
	}
}

// Text

#hero-text {
	fill: $white;
}

// Smoke

#smoke-outer {
	fill: $color-prim;
}

#smoke-inner {
	//fill: $color-ter;
}

// Clouds

#white-cloud-right,
#white-cloud-left {
	fill: #db7881;
}

#red-cloud-right,
#red-cloud-left {
	fill: #b16369;
}

// Rocket

#rocket-body {
	//fill: #3e3543;
}

#inner-flame {
	fill: #ffe3f4;
}

#outer-flame {
	fill: #a35765;
}

#glass {
	fill: #d6c9d3;
}

// Mountains

#mountains-left,
#mountains-right {
	//fill: $color-prim;
}

#mountain-top-left,
#mountain-top-middle,
#mountain-top-right {
	//fill: #e98a96;
}

// Blast

#blast-left,
#blast-right {
	fill: #a27f90;
}

#blast-inner {
	fill: #645063;
}

// Stars

#star1, #star2, #star3, #star4, #star5, #star6, #star7, #star8 {
	fill: #a79aa8;
}

/* Sub Icons -------------------- */

.sub-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
}

// Telescope

#telescope-circle {
	fill: $white;
}

// Astronaut

#astronaut-circle {
	fill: $color-sec;
}

#helmet,
#scarf {
	fill: $white;
}

// Signal

#signal-circle {
	fill: #af404c;
}

#wave-1, #wave-2, #wave-3, #signal-inner-circle {
	fill: $white;
}

/* Small Icons -------------------- */

.small-icon {
	width: $base-line-height;
	height: $base-line-height;
	margin-right: $base-line-height / 2;
}

/* Tiny Icons -------------------- */

.tiny-icon {
	border-radius: 50%;
	width: 1.75rem;
	height: 1.75rem;
	background-color: $grey-light;
	padding: 0.2rem;
	margin-right: 0.75rem;

	&:last-child {
		marign-right: 0;
	}
}

// Twitter Footer

#bird-footer {
	fill: $color-prim;
}

/* Other Icons -------------------- */

// Twitter Testimonials

.twitter-testimonials {
	width: $base-line-height * 2;
	height: $base-line-height * 2;
	margin: 3.5rem 0 $base-line-height;
}

#bird {
	fill: $color-sec;
}

// Profile Image

.profile-img {
	width: $base-line-height * 10;
	height: $base-line-height * 10;
	margin: 3.5rem 0 $base-line-height;
	border: 0.4rem solid $color-ter;
	border-radius: 50%;
}

#profile-circle {
	fill: #3e3e3e;
}

#silhouette {
	fill: #615f60;
}









