// Arrow image icon

.arrow {
	width: 50px;
	margin-top: 150px;

	@media #{$brk-narrow} {
		display: none;
	}
}

// General

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

.hero-container {
	
	.hero {

	}
}

// Smoke

#smoke-outer {
	fill: #312933;
}

#smoke-inner {
	fill: #594c5f;
}

// Clouds

#white-cloud-right,
#white-cloud-left {
	fill: #db7881;
}

#red-cloud-right,
#red-cloud-left {
	fill: #b16369;
}

// Rocket

#rocket-body {
	//fill: #553546;
}

#inner-flame {
	fill: #ffe3f4;
}

#outer-flame {
	fill: #a35765;
}

#glass {
	fill: #d6c9d3;
}

// Mountains

#mountains-left,
#mountains-right {
	fill: #312934;
}

#mountain-top-left,
#mountain-top-middle,
#mountain-top-right {
	fill: #e98a96;
}

// Blast

#blast-left,
#blast-right {
	fill: #a27f90;
}

#blast-inner {
	fill: #645063;
}

// Stars

#star1, #star2, #star3, #star4, #star5, #star6, #star7, #star8 {
	fill: #a79aa8;
}









