// Arrow image icon

.arrow {
	width: 5rem;
	margin-top: 15rem;

}

// General

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

.main-logo {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcfcfe;
    font-size: 3rem;
    font-family: $stack-montserrat;
}

// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

.hero-container {
	height: 0; /* collapse the container's height */
    width: 100%; /* specify any width you want (a percentage value, basically) */
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: 58.7%;
    position: relative;    /* create positioning context for svg */

	.hero {
		position: absolute;
    	top: 0;
    	left: 0;
	}
}

// Smoke

#smoke-outer {
	fill: $color-prim;
}

#smoke-inner {
	fill: $color-ter;
}

// Clouds

#white-cloud-right,
#white-cloud-left {
	fill: #db7881;
}

#red-cloud-right,
#red-cloud-left {
	fill: $color-sec;
}

// Rocket

#rocket-body {
	fill: darken($smoke-grey, 10%);
}

#inner-flame {
	fill: #ffe3f4;
}

#outer-flame {
	fill: #a35765;
}

#glass {
	fill: #d6c9d3;
}

// Mountains

#mountains-left,
#mountains-right {
	fill: $color-prim;
}

#mountain-top-left,
#mountain-top-middle,
#mountain-top-right {
	fill: #e98a96;
}

// Blast

#blast-left,
#blast-right {
	fill: #a27f90;
}

#blast-inner {
	fill: #645063;
}

// Stars

#star1, #star2, #star3, #star4, #star5, #star6, #star7, #star8 {
	fill: #a79aa8;
}

/* Sub Icons -------------------- */

.sub-icon {
	width: 3.5rem;
	height: 3.5rem;
}

// Telescope

#telescope-circle {
	fill: $white;
}

// Twitter

#bird {
	fill: $color-sec;
}








