/* Web Fonts -------------------- */

@include font-face('Montserrat', montserrat-bold);

h1,
h2,
h3 {
	letter-spacing: initial;
}

h1,
h2 {
    font-family: $stack-abolition;
}

h2 {
    @include text(1.7rem, 1.1, normal, $white);
    margin: 0.5rem 0 .5rem;
}

h3 {
    @include text(1.25rem, 1.2, $color: $color-prim);
    margin-bottom: 1.7rem;
}

p {
	@include text(1rem, 1.1, $color: $color-ter);
}