/* General Font Styles -------------------- */

@include font-face('Montserrat', montserrat-bold);

// Magic Number Setup

h1,h2,h3,h4,h5,h6,hgroup, p {
	margin-top: 0;
	margin-bottom: $base-line-height;
}

h1 {
	@include type-setting(3);
	font-weight: bold;
	color: $color-text-light;
}

h2 {
	font-size: 1.777rem;
	line-height: $base-line-height;
	margin-bottom: 1rem;
}

h3 {
	@include type-setting(1);
	font-weight: bold;
	color: $color-text-light;
}

p {
	@include type-setting(0);
	font-weight: bold;
	color: $color-text-light;
}

/* Specific Font Styles -------------------- */

// Underline

h2 {
	
	&.underline,
	&.red-underline {
		position: relative;
	}
	
	&.underline:after {
		content: '';
	    position: absolute;
	    width: 6rem;
	    height: 0.2rem;
	    top: 150%;
	    left: 50%;
	    background: url($path-img + '/svg/underline.svg');
	    background-repeat: no-repeat;
	    margin-left: -3rem;
	}

	&.red-underline:after {
		content: '';
		position: absolute;
		width: 2rem;
		height: 0.2rem;
		top: 150%;
		left: 50%;
		background: $color-sec;
		margin-left: -1rem;
		border-radius: 0.2rem;
	}
}

// Quote

p.quote,
p.name {
	@include type-setting(1);
	font-weight: bold;
	margin: 0 0 $base-line-height;
}

p.quote {
	text-align: right;
	padding-right: $base-line-height * 3;
}

// Secondary

p.secondary {
	@include type-setting(-1);
}








