main {
	padding: 0 2rem;

	@include media('>extra-small', '<=small') {
	    padding: 0 3rem;
	}
	@include media('>small', '<=medium') {
		padding: 0 4rem;
	}
}

section.work {
	padding: 4rem 0;
}

.sub-header {
	display: block;
	margin: 0 auto 1rem auto;

	a:nth-of-type(1) {
		
		button {
			margin-right: 1.5rem;
		}
	}
}
