.project {
	@include work-card();
	cursor: pointer;
	position: relative;
	margin-bottom: 1rem;

	img {
		border: 0.175em solid $white;
	}

	.project-bottom {
		padding: 1rem;

		p {
			color: $color-text-base;
		}
	}

	&:hover {

		img {
			opacity: 0.95;
		}

		&:after {
			content: '';
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    background: $color-sec;
		    height: 2%;
		}

		.project-bottom {

			h3 {
				color: $color-sec;
			}
		}
	}
}