.service-items {
	margin-top: 3.5rem;

	div {
		margin-right: $base-line-height * 3;

		&:last-child {
				margin: 0;
		}	
	}
}

.service-item {
	width: $base-line-height * 3;
	height: $base-line-height * 3;
	margin-bottom: 1rem;
}