// Web fonts

@mixin font-face($family, $file) {
    @font-face {
        font-family: $family;
        src: url('#{$path-font}/#{$file}-webfont.eot');
        src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
            url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
            url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
  }
}

// Text

@mixin text($size, $l-height: null, $weight: null, $color: null) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    color: $color;
}

// Background Gradient

@mixin hero-gradient() {
    background: rgba(130,115,127,1);
background: -webkit-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
background: -o-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
background: linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82737f', endColorstr='#a66976', GradientType=0 );
}

// Space Shuttle Gradient
@mixin space-shuttle-gradient {
    background: rgba(83,51,67,1);
background: -moz-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83,51,67,1)), color-stop(100%, rgba(40,33,43,1)));
background: -webkit-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
background: -o-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
background: linear-gradient(135deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533343', endColorstr='#28212b', GradientType=1 );
}










