// ==========================================================================
// Vertical Rythm
// ==========================================================================

// $container-width: 750px;
// $container-height: 440px;

$base-font-size: 1rem;
$base-line-height: 1.5 * $base-font-size;

// Perfect Fourth

$type-settings: (
	-5: (
    	font-size: 0.238rem,
    	line-height: $base-line-height / 5
  	),
	-4: (
    	font-size: 0.317rem,
    	line-height: $base-line-height / 4
  	),
	-3: (
    	font-size: 0.422rem,
    	line-height: $base-line-height / 3
  	),
  	-2: (
    	font-size: 0.563rem,
    	line-height: $base-line-height / 2
  	),
  	-1: (
    	font-size: 0.75rem,
    	line-height: $base-line-height
  	),
  	0: (
    	font-size: 1rem,
    	line-height: $base-line-height
  	),
  	1: (
    	font-size: 1.333rem,
    	line-height: $base-line-height
  	),
  	2: (
    	font-size: 1.777rem,
    	line-height: $base-line-height * 2
  	),
  	3: (
    	font-size: 2.369rem,
    	line-height: $base-line-height * 2
  	),
  	4: (
    	font-size: 3.157rem,
    	line-height: $base-line-height * 3
  	),
  	5: (
    	font-size: 4.209rem,
    	line-height: $base-line-height * 3
  	)
);

@function type-scale($level) {
	@return map-get(
    	map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
	@return map-get(
    	map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

// ==========================================================================
// General Mixins
// ==========================================================================

// Web Fonts

@mixin font-face($family, $file) {
	@font-face {
		font-family: $family;
		src: url('#{$path-font}/#{$file}-webfont.eot');
		src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
			url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
	}
}

// Background Gradient

@mixin hero-gradient() {
	background: rgba(130,115,127,1);
	background: -webkit-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
	background: -o-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
	background: linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82737f', endColorstr='#a66976', GradientType=0 );
}

// Space Shuttle Gradient
@mixin space-shuttle-gradient {
	background: rgba(83,51,67,1);
	background: -moz-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83,51,67,1)), color-stop(100%, rgba(40,33,43,1)));
	background: -webkit-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
	background: linear-gradient(135deg, rgba(83,51,67,1) 0%, rgba(40,33,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533343', endColorstr='#28212b', GradientType=1 );
}

// Work Card
@mixin work-card {
	background: $white;
}










