// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$regent-st-blue : #add8e6;
$river-bed      : #48525c;
$yellow-orange  : #ffa949;
$sky-red		: #b16369;
$dark-grey		: #312933;
$smoke-grey		: #594c5f;
$darkest-grey	: #302b31;
$light-grey		: #b5b5b5;

// Functional color variables

$color-prim         : $dark-grey;
$color-sec          : $sky-red;
$color-ter          : $smoke-grey;

$color-text-light   : $white;
$color-text-base    : $light-grey;
$color-text-dark    : $dark-grey;

$color-border-light : $white;
$color-border-dark  : $dark-grey;

$color-link-default : $white;
$color-link-visited : $dark-grey;
$color-link-hover 	: $sky-red;

$color-shadow       : rgba($black,.8);
$color-body         : $white;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-serif : serif;
$stack-helvetica  : 'Helvetica Neue', $stack-sans-serif;
$stack-abolition  : 'Abolition Regular', $stack-sans-serif;
$stack-montserrat  : 'Montserrat', $stack-sans-serif;

// Border radius

$br: 10px;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';








